*
!.gitignore

# SOURCES
!normal/
!nerd/
!common/

# BUILD
!flake.nix
!flake.lock
!rust-toolchain.toml
!.cargo/
!.cargo/config.toml
!Cargo.lock
!Cargo.toml

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# LINTERS
!.clippy.toml

# DOCS
!CHANGELOG.md
!README.md

# SCRIPTS
!release.nu
