@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format('woff');
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
	--default-font-family: "Iosevka", sans-serif;
	--default-transition-duration: 0ms;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #0f1116;
}

body {
    color: #ffffff;
    margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, li, span, a {
	@apply text-base leading-6 my-0 py-0;
}

/* line utils */
.line-content {
	@apply h-6 leading-6 flex items-center;
}

.line-block {
	@apply h-6 leading-6;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}

@source "./src/**/*.{rs,html,css}"
