@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-normal.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono@latest/latin-400-normal.woff)
		format("woff");
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
	--default-font-family: "JetBrains Mono", sans-serif;
	--default-transition-duration: 0ms;

	--color-purple-light: #a66aa2;
	--color-purple: #592d59;
	--color-purple-dark: #3c2240;
	--color-purple-darker: #0d0812;
	--color-green: #48734f;
	--color-green-light: #6ba373;
	--color-base-light: #f2eeeb;
	--color-bg: #0f1116;
}

:root {
	@media (prefers-color-scheme: light) {
		--color-fg: var(--color-purple-darker);
		--color-bg: var(--color-base-light);
		--color-border: var(--color-purple-darker);
		--color-hover: var(--color-purple-light);
		--color-active: var(--color-purple-dark);
	}

	@media (prefers-color-scheme: dark) {
		--color-fg: var(--color-base-light);
		--color-bg: var(--color-purple-darker);
		--color-border: var(--color-base-light);
		--color-hover: var(--color-purple);
		--color-active: var(--color-purple-light);
	}
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: var(--color-bg);
	color: var(--color-fg);
}

body {
	color: var(--color-text);
	margin: 0;
	padding: 0;
	scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}

html {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}

@source "*.{rs,html,css}";
